body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    padding: 0;
    margin: 20px;
}

nav{
    background-color: #333;
    padding: 10px;
    text-align: center;
    margin: 20px;
}
nav form {
    display: inline;
}
nav input, nav button {
    padding: 5px;
    margin-right: 5px;
}

h2 {
    color: #333;
}

form {
    background: white;
    padding: 20px;
    border-radius: 5px;
    max-width: 400px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
input{
    border: 1px solid #ccc;
}

button {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}
