<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <h1>Vlog List</h1>
    <p><a class="button" href="{% url 'add-vlog' %}">Add New Vlog</a></p>
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>URL</th>
            </tr>
        </thead>
        <tbody>
            {% for vlog in vlogs %}
            <tr>
                <td>{{ vlog.title|escape }}</td>
                <td><a href="{{ vlog.url|escape }}" target="_blank">Watch</a></td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="2">No vlogs available.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</body>

</html>