{% extends 'base.html'%}
{% load static %}
{%block content%}
{%if page == 'login'%}
<h2>Login</h2>
<div>
    <form method="POST" action = "">
    {% csrf_token %}

     <label for = "username">Username:</label>
    <input type = "text" name= "username" placeholder = "Enter Username"/>

     <label for = "password">Password:</label>
    <input type = "password" name= "password" placeholder = "Enter Password"/>
    
<input type = 'submit' value="Login">
    </form>
    <p> Don't have an account? </p>
        <a href = "{% url 'blog-register'%}">Register below</a> 

</div>

{%else%}

<h2>Register</h2>
<form method="post">
    {% csrf_token %}
    {{ register_form.as_p }}
    <button type="submit">Sign Up</button>
</form>
<p>Already have an account? <a href="{% url 'blog-login' %}">Login</a></p>
{% endif %}
{% endblock %}